<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644984516022-umqi0g1vulv7uhhmu2ae1rqeh67ma3bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644984516022-umqi0g1vulv7uhhmu2ae1rqeh67ma3bm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644984516022-aoiu4i0vreng98ahs85e513rjocj33ee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYw0lrX0jnMMNTctUYiFd3tMnjd2Le4FM</string>
	<key>GCM_SENDER_ID</key>
	<string>644984516022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carePatient</string>
	<key>PROJECT_ID</key>
	<string>carepatient-82822</string>
	<key>STORAGE_BUCKET</key>
	<string>carepatient-82822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644984516022:ios:e90be1e160471415556517</string>
</dict>
</plist>